<nav class="navbar navbar-inverse" style="background: linear-gradient(to right, darkgreen , green)">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li style="cursor:pointer;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a id="menu-item" routerLink="/">Home</a></li>
          <li style="cursor:pointer" routerLinkActive="active">
            <a id="menu-item" routerLink="/bid">Bid Now</a></li>
          <li style="cursor:pointer" routerLinkActive="active">
            <a id="menu-item" routerLink="/practice">Practice</a> </li>
          <li style="cursor:pointer" routerLinkActive="active">
            <a id="menu-item" routerLink="/lead">Lead</a></li>
          <li style="cursor:pointer" routerLinkActive="active">
            <a id="menu-item" routerLink="/donate">Donate</a></li>
          <li style="cursor:pointer" routerLinkActive="active">
            <a id="menu-item" routerLink="/contact">Contact</a></li>
        </ul>
      </div>
</nav>
