.card {
  float: left;
  width: auto;
  height: 100px;
  display: block;
  border: 1px solid;
  border-right:1px bold;
  border-color: grey;;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}
.suit {
  width: 20px;
  height: 20px;
}
.contract-table {
  border: 1px solid black;
}
