<form (ngSubmit)="onSubmit()" #f="ngForm" 
fxLayout="column" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px">
    <label for="num">Choose a number</label>
    <mat-form-field>
      <mat-select matInput placeholder="1,2,3..." name="numericBid" id="num" required ngModel #num="ngModel">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="Pass">Pass</mat-option>
      </mat-select>
      <mat-error *ngIf="num.invalid && num.touched">You need to choose a numeric bid</mat-error>
    </mat-form-field>
    <label for="suit">Choose a Suit</label>
    <mat-form-field>
      <mat-select placeholder="Diamonds"name="suitBid" id="suit" required ngModel #suit="ngModel">
        <mat-option value="Spades">Spades</mat-option>
        <mat-option value="Hearts">Hearts</mat-option>
        <mat-option value="Diamonds">Diamonds</mat-option>
        <mat-option value="Clubs">Clubs</mat-option>
        <mat-option value="NoTrump">NoTrump</mat-option>
        <mat-option value="Pass">Pass</mat-option>
      </mat-select>
      <mat-error *ngIf="suit.invalid && suit.touched">
        You need to choose a suit bid
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="button" (click)="Pass()">Pass</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Submit Bid</button>
  </form>
  