<div class="board" *ngIf="Initialized">
  <div fxLayout fxLayoutAlign="center center">
    <div class="card" *ngFor="let card of spades" fxLayout="column" fxLayoutAlign="start center">
      <span>{{card.name}}</span>
      <img class="suit" src="https://i.imgur.com/tXgx0h3.png">
    </div>
    <div class="card red" *ngFor="let card of hearts" fxLayout="column" fxLayoutAlign="start center">
      <span>{{card.name}}</span>
      <img class="suit" src="https://i.imgur.com/Chg6eQ8.jpg">
    </div>
    <div class="card" *ngFor="let card of clubs"  fxLayout="column" fxLayoutAlign="start center">
      <span>{{card.name}}</span>
      <img class="suit" src="https://i.imgur.com/TsBK3k9.jpg">
    </div>
    <div class="card red" *ngFor="let card of diamonds" fxLayout="column" fxLayoutAlign="start center">
      <span>{{card.name}}</span>
      <img class="suit" src="https://i.imgur.com/khCb5Vu.jpg">
    </div>
  </div>
</div>
