:host{
  display: block;
}
button {
  margin: 7px;
}
#custom-hover {
  position: absolute;
  justify-content: center;
  display: flex;
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
  width: auto;
}