<div *ngIf="user.loggedIn" fxLayout="column">
  <h2 class="heading">This sections give you the chance to practice on how to lead as the defence</h2>
  <span id="subheading"> When you click the "Start Leading" button, you will be served a specific hand accompanied by a contract. After you choose
    your Lead and press Submit, the comment section will appear and you will be able to see what other people chose!
  </span>
  <hr class="hline" *ngIf="!start">
  <button fxFlexAlign="center" mat-raised-button color="primary" (click)="startLeading()">{{buttonText}}</button>
</div>
<div *ngIf="start" fxLayout="column">
  <app-contract-design [East]="East" [West]="West" [North]="North" [South]="South" [Colors]="Colors"></app-contract-design>
  <hr class="hline">
  <div *ngIf="handInitialized" fxLayout fxLayoutAlign="space-around stretch" fxLayoutGap="7px">
    <div class="board">
      <div class="card" (click)="chooseLead(card)" *ngFor="let card of spades">{{card.name}}
        <br>
        <img class="suit" src="https://i.imgur.com/tXgx0h3.png">
      </div>
      <div class="card red" (click)="chooseLead(card)" *ngFor="let card of hearts">{{card.name}}
        <br>
        <img class="suit" src="https://i.imgur.com/Chg6eQ8.jpg">
      </div>
      <div class="card" (click)="chooseLead(card)" *ngFor="let card of clubs">{{card.name}}
        <br>
        <img class="suit" src="https://i.imgur.com/TsBK3k9.jpg">
      </div>
      <div class="card red" (click)="chooseLead(card)" *ngFor="let card of diamonds">{{card.name}}
        <br>
        <img class="suit" src="https://i.imgur.com/khCb5Vu.jpg">
      </div>
    </div>
    <app-lead-thread-form fxFlex="50%" [id]="id" [handInitialized]="handInitialized" [leadClicked]="leadClicked" [lead]="lead"></app-lead-thread-form>
  </div>
</div>
<div *ngIf="bridgeApi.submitted" style="margin-top: 10px;">
  <div *ngIf="answers[0]!==undefined">
    <label for="comments"> Leads and Comments</label>
    <div *ngFor="let answer of answers; let i = index">
      <div>
        <div class="vote">
          <app-comment [link]="'/leadvote'" [id]="id" [index]="i" [votes]="answer.votes"></app-comment>
        </div>
        <div class="form-control" id="comment">
          <strong> Lead : {{answer.lead.name}} of {{answer.lead.suit}}</strong>
          <br>
          <strong> Comments</strong> : {{answer.comments}} </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="answers[0]===undefined">
    <div class="col-xs-12 form-control">
      <label> This lead has no comments yet. Thank you for contributing!</label>
    </div>
  </div>
</div>
<div *ngIf="!user.loggedIn">
  <div id="subheading">
    <h2>Please log in, in order to be able to use this section.</h2>
  </div>
</div>
