<section fxLayout="column" fxLayoutGap="8px">
  <h2 class="heading">
    This sections give you the chance to practice on how to open the bidding phase</h2>
  <span id="subheading"> When you click the "start practicing" button, you will be served a specific hand that has a specific bid as an answer</span>
  <hr class="hline">
  <section fxLayout fxLayoutAlign="center stretch">
    <button mat-raised-button color="primary" (click)="startPractice()">{{buttonText}}</button>
  </section>
  <section fxLayout fxLayoutGap="7px" fxLayoutAlign="space-around stretch">
    <app-card-board [cards]="hand" [Initialized]="handInitialized"></app-card-board>
    <div fxFlex="50%" *ngIf="handInitialized">
      <app-practiceform *ngIf="handInitialized && !bridgeApi.answerStatus"></app-practiceform>
      <div class="hcpdisplay">Total HCP = {{hcp}}</div>
      <div *ngIf="bridgeApi.answerStatus" class="response">
        <div *ngIf="correctbid === bridgeApi.answer">
          <h3 id="com">Your answer is correct!</h3>
          <br>
          <strong>Tip: </strong>{{comment}}
        </div>
        <div *ngIf="correctbid !== bridgeApi.answer">
          <h3 id="com">
            Your answer is incorrect. You should
            <span *ngIf="correctbid !=='Pass Pass'"> bid {{correctbid}}</span>
            <span *ngIf="correctbid ==='Pass Pass'"> Pass</span>
          </h3>
          <strong>Tip: </strong> {{comment}}
        </div>
      </div>
    </div>
  </section>
</section>
