.register{
  height:100%;
  max-width: 200px;
}
#header{
  text-align: center;
}
#login-text{
  font-weight: bolder;
  margin: 5px 0px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 5px;
  padding: 3px;
}
#login-text:hover{
  color: darkslategray;
}
/* .warning {
  text-align: center;
  margin: 5px 0px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 2px;
  border: 1px solid rgba(255, 0, 0, 0.3);
} */
