<form class="register full-width" (ngSubmit)="onSubmit()" #f="ngForm">
  <div ngModelGroup="Register" *ngIf="!loginbool"
  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
    <h2 id="header">Register</h2>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput ngModel name="username" type="text" required #username="ngModel">
      <mat-error *ngIf="username.invalid && username.touched">Please type a username</mat-error>
      <mat-error *ngIf="user.exists">Username already exists! Please select another Username</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput ngModel name="email" type="email" required email #mail="ngModel">
      <mat-error *ngIf="mail.invalid && mail.touched">Please type your e-mail correctly</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput ngModel name="password" type="password" required #pass="ngModel">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Retype Password</mat-label>
      <input matInput ngModel name="retypepass" type="password" required #retypepass="ngModel">
    </mat-form-field>
    <mat-error *ngIf="pass.value !== retypepass.value && pass.touched && retypepass.touched">
      Passwords don't match</mat-error>
    <button mat-raised-button color="primary" class="subbutton" type="submit" [disabled]="!f.valid">Register</button>
    <p (click)="changeForm()" id="login-text">Already have an account?
      <br> Click here to login</p>
  </div>
  <div ngModelGroup="Login" *ngIf="loginbool"
  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
    <h2 id="header">Login</h2>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput ngModel name="username" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput ngModel name="password" type="password">
    </mat-form-field>
    <mat-error *ngIf="user.logValid">{{user.errorMessage}}</mat-error>
    <button mat-raised-button color="primary" class="subbutton" type="submit" [disabled]="!f.valid">Login</button>
    <p (click)="changeForm()" id="login-text">Click here to register</p>
  </div>
</form>
