.contract {
  margin-bottom: 10px;
  text-align: center;
}
#contract-bid {
  background-color: lightgoldenrodyellow;
  border: 1px solid rgba(0, 0, 0, 0.23);
}
.comment {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 50px;
  border: 1px solid black;
  background-color: rgba(211, 211, 211, 0.95);
  padding: 5px 10px;
  border-radius: 7px;
}
#west, #south, #north, #east  {
 width: 100px; 
}
