<div class="container">
  <div class="row">
    <div class="col-xs-12" style="display:flex; justify-content:center; margin-top:30px; padding:20px;">
      <button class="btn btn-primary" (click)="getHand(cardsArray)">Initialize Hand</button>
      <button class="btn btn-primary" (click)="getExistingHand()">Get Existing Hand</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <div class="board" *ngIf="handInitialized">
          <div class="row">
            <div class="card" *ngFor="let card of spades">{{card.name}}
              <br>
              <img class="suit" src="http://i.imgur.com/tXgx0h3.png">
            </div>
            <div class="card red" *ngFor="let card of hearts">{{card.name}}
              <br>
              <img class="suit" src="http://i.imgur.com/Chg6eQ8.jpg">
            </div>
            <div class="card" *ngFor="let card of clubs">{{card.name}}
              <br>
              <img class="suit" src="http://i.imgur.com/TsBK3k9.jpg">
            </div>
            <div class="card red" *ngFor="let card of diamonds">{{card.name}}
              <br>
              <img class="suit" src="http://i.imgur.com/khCb5Vu.jpg">
            </div>
          </div>
        </div>
        <div class="row" *ngIf="handInitialized">
          <div class="col-xs-12 hcpdisplay">Total HCP = {{hcp}}</div>
        </div>
      </div>
      <div class="col-xs-6">
        <div *ngIf="handInitialized" style="margin:10px">
          <app-bid-form></app-bid-form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="handInitialized">
    <div class="col-xs-12">
      <label for="comments"> Bid and Comments</label>
      <div class="form-control"></div>
    </div>
  </div>
</div>
