.parent {
  width: 100%;
  margin: 5px;
  /* background: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/05/02/23/7-Bridge-Card-Rex.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
aside {
  padding-right: 7px;
}