<mat-sidenav-container>
  <mat-sidenav #mobilenav role="navigation">
    <app-mobile-nav (close)="mobilenav.toggle()"></app-mobile-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="full-width">
      <app-header (mobilenavToggle)="mobilenav.toggle()">
      </app-header>
    </section>
    <main fxLayout fxLayoutAlign="space-between start" fxLayoutGap="5px" style="overflow:hidden" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
      <section fxLayout="column" class="full-width">
        <router-outlet>
        </router-outlet>
      </section>
      <aside *ngIf="!user.loggedIn">
        <app-register>
        </app-register>
      </aside>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>