.sidebar {
  display: flex;
  justify-content: center;
  float: right;
  height:100%;
  max-width: 18%;
  background: -webkit-linear-gradient(rgb(190, 190, 190), rgba(255, 255, 255, 0.6));
  background: -o-linear-gradient(rgb(190, 190, 190),rgba(255, 255, 255, 0.6));
  background: -moz-linear-gradient(rgb(190, 190, 190),rgba(255, 255, 255, 0.6));
  background: linear-gradient(rgb(190, 190, 190), rgba(255, 255, 255, 0.6));
  border-radius: 10px;
}
.main-content {
  padding: 0px;
}
