:host {
  display: block;
  width:100%;
}

.contract-table {
  width:80px;
  border: 1px solid black;
}

.clicked {
  background-color: lightcoral;
}

.colorlabel {
  display: flex;
  color: red;
  justify-content: center;
  border: 1px dashed black;

}
