<mat-toolbar fxLayout class="full-width" color="primary" fxLayoutAlign="center center">
  <button fxHide.gt-xs mat-icon-button (click)="onToggleMobilenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/">Bridge App</a>
  <div  fxFlex fxLayout fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutWrap fxHide.xs>
    <a style="cursor:pointer;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
    <a routerLink="/bid" style="cursor:pointer" routerLinkActive="active">Bid Thread</a>
    <a routerLink="/practice" style="cursor:pointer" routerLinkActive="active">Practice</a>
    <a routerLink="/leadthread" style="cursor:pointer" routerLinkActive="active">Lead Thread</a>
    <a routerLink="/leadpractice" style="cursor:pointer" routerLinkActive="active">Lead Practice</a>
    <a routerLink="/donate" style="cursor:pointer" routerLinkActive="active">Donate</a>
    <a routerLink="/contact" style="cursor:pointer" routerLinkActive="active">Contact</a>
    <a routerLink="/donate" style="cursor:pointer" routerLinkActive="active">Donate</a>
    <a *ngIf="user.rank==='Admin'" routerLink="/admin" style="cursor:pointer" routerLinkActive="active">Admin</a>
    <!-- <a routerLink="/test" style="cursor:pointer" routerLinkActive="active">Test</a> -->
    <a routerLink="/myaccount" *ngIf="user.loggedIn" style="cursor:pointer;" routerLinkActive="active">My Account</a>
  </div>
</mat-toolbar>
