.navigation-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-items li a,
a {
  color: white;
  margin: 5px;
  text-decoration: none;
}

.navigation-items li a:hover,
a:hover {
  color: lightgrey;
}

mat-toolbar {
  margin-bottom: 7px;
}