<mat-toolbar fxLayout class="full-width" color="primary">
  <div fxFlex="0 0.05 auto">
    <a routerLink="/">Bridge App</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayoutAlign="flex-end" fxLayoutWrap class="navigation-items" fxLayoutGap="10px">
      <li style="cursor:pointer;" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">Home</a>
      </li>
      <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/bid">Bid Thread</a>
      </li>
      <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/practice">Practice</a>
      </li>
      <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/lead">Lead Post</a>
      </li>
      <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/leadthread">Lead Thread</a>
      </li>
      <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/leadpractice">Lead Practice</a>
      </li>
      <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/donate">Donate</a>
      </li>
      <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/contact">Contact</a>
      </li>
      <!-- <li style="cursor:pointer" routerLinkActive="active">
        <a routerLink="/test">Test</a>
      </li> -->
      <li *ngIf="user.loggedIn" style="cursor:pointer; float: right;" routerLinkActive="active">
        <a routerLink="/myaccount">My Account</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
