.hcpdisplay {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.form-control {
  height: auto;
  margin-bottom: 3px;
}
.vote{
  width:4%;
  float: left;
}
#comment {
  width:96%;
  float: left;
}
