section {
  background: -webkit-linear-gradient(lightgray, white);
  background: -o-linear-gradient(lightgray, white);
  background: -moz-linear-gradient(lightgray, white);
  background: linear-gradient(lightgray, white);
  min-height: 400px;
}
:host {
  display: block;
}