section {
  background: -webkit-linear-gradient(lightgray, white);
  background: -o-linear-gradient(lightgray, white);
  background: -moz-linear-gradient(lightgray, white);
  background: linear-gradient(lightgray, white);
  height: 300px;
}
:host {
  display: block;
  margin: 0 4px;
}
h2 {
  width: 70%;
  text-align: center;
}