<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div *ngIf="handInitialized" fxLayout="column">
    <div *ngIf="!leadClicked" class="response">
      You can choose a card to lead.
    </div>
    <div class="response" *ngIf="leadClicked">
      <h3 id="com">You chose {{lead.name}} of {{lead.suit}} as your lead.</h3>
    </div>
    <label>Add your comment</label>
    <mat-form-field>
      <input matInput placeholder="Why did you choose this card to lead?" type="text" name="comments" ngModel required>
      <mat-hint>This field is required</mat-hint>
    </mat-form-field>
    <button fxFlexAlign="center" mat-raised-button color="primary" type="submit" [disabled]="lead===undefined">Submit Answer
    </button>
  </div>
</form>
