<div class="register">
  <div class="col-xs-12">
    <div *ngIf="!loginbool">
      <div class="row">
        <h2 id="header">Register</h2>
      </div>
      <div class="row">
        <label>Username</label>
        <input class="form-control" type="text">
      </div>
      <div class="row">
        <label>Password</label>
        <input class="form-control" type="password">
      </div>
      <div class="row">
        <button type="Submit" class="btn btn btn-primary">Register</button>
      </div>
      <p (click)="changeForm()" id="login-text">Already have an account?<br> Click here to login</p>
    </div>
  </div>
  <div class="col-xs-12" *ngIf="loginbool">
    <div class="row">
      <h2 id="header">Login</h2>
    </div>
    <div class="row">
      <label>Username</label>
      <input class="form-control" type="text">
    </div>
    <div class="row">
      <label>Password</label>
      <input class="form-control" type="password">
    </div>
    <button type="Submit" class="btn btn btn-primary">Login</button>
    <p (click)="changeForm()" id="login-text">Click here to register</p>
  </div>

</div>
